SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SESSION_SECRET=

VITE_PUBLIC_POSTHOG_PROJECT_TOKEN=
VITE_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
POSTHOG_PROJECT_API_KEY=
POSTHOG_HOST=https://us.i.posthog.com
